In [3]:
# Wap to detect index of a duplicate data.

a = ["Aeroplane","Car","Bike","Cycle","Bike","Motorcycle"]
for i in range(len(a)):
    if a[i] == "Bike":
        print(i)

2
4

In [6]:
#WAP to remove duplicate data
b= []
a = ["Aeroplane","Car","Bike","Cycle","Bike","Motorcycle"]
for i in a:
    if i != "Bike":
        b.append(i)

print(b)

['Aeroplane', 'Car', 'Cycle', 'Motorcycle']

In [5]:
#WAP to remove duplicate data
a = ["Aeroplane","Car","Bike","Cycle","Bike","Motorcycle"]
l = a.count("Bike")
for i in range(l):
    a.remove("Bike")
print(a)

['Aeroplane', 'Car', 'Cycle', 'Motorcycle']

In [9]:
a = ["Aeroplane","Car","Bike","Cycle","Bike","Motorcycle","Car"]
b = []
for i in a:
    if a.count(i)>1 and (i not in b):
        b.append(i)
        print(i,a.count(i))

Car 2
Bike 2

In [10]:
#list inside list
a = [[1,2,3],[4,5,6],[7,8,9]]
print(type(a))
print(len(a))

<class 'list'>
3

In [13]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a[0])
print(a[0][0])

[1, 2, 3]
1

In [ ]:
a = [["Ram",44,"Dang"],
    ["Hari",22,"Lalitpur"],
    ["Shyam",54,"Bhaktapur"]]
#indexing same as above

In [14]:
a = [["Ram",44,"Dang"],
    ["Hari",22,"Lalitpur"],
    ["Shyam",54,"Bhaktapur"]]
search = input("Enter search value = ")
for i in a:
    if search in i:
        print(i)

Enter search value = Ram
['Ram', 44, 'Dang']

In [15]:
a = [["Ram",44,"Dang"],
    ["Hari",22,"Lalitpur"],
    ["Shyam",54,"Bhaktapur"]]
a[0] = ["Sita",21,'Palpa']
a

[['Sita', 21, 'Palpa'], ['Hari', 22, 'Lalitpur'], ['Shyam', 54, 'Bhaktapur']]

In [16]:
a = [["Ram",44,"Dang"],
    ["Hari",22,"Lalitpur"],
    ["Shyam",54,"Bhaktapur"]]
a[0][1] = 21
a

[['Ram', 21, 'Dang'], ['Hari', 22, 'Lalitpur'], ['Shyam', 54, 'Bhaktapur']]

In [17]:
a = [2,5,6,7,4,8]
a[2] = 1
a

[2, 5, 1, 7, 4, 8]

In [19]:
a = [["Ram",44,"Dang"],
    ["Hari",22,"Lalitpur"],
    ["Shyam",54,"Bhaktapur"]]
del a[0]
a

[['Hari', 22, 'Lalitpur'], ['Shyam', 54, 'Bhaktapur']]

In [22]:
#WAP to create a list inside list
data = []
n = int(input("enter no. of list = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    info = [name,age,add]
    data.append(info)
print(data)

enter no. of list = 2
Enter name = Ram
Enter age = 22
Enter address = Dang
Enter name = Shyam
Enter age = 43
Enter address = Palpa
[['Ram', 22, 'Dang'], ['Shyam', 43, 'Palpa']]

In [23]:
a = [["Ram",44,"Dang"],
    ["Hari",22,"Lalitpur"],
    ["Shyam",54,"Bhaktapur"]]
b = [["Sita",21,'Palpa']]
c = a+b
c

[['Ram', 44, 'Dang'],
 ['Hari', 22, 'Lalitpur'],
 ['Shyam', 54, 'Bhaktapur'],
 ['Sita', 21, 'Palpa']]

In [ ]:
#WAP to create matrix with given row and column