In [ ]:
# loop 
# while
# for

In [ ]:

range(5)    => 0,1,2,3,4
range(1,5)  => 1,2,3,4
range(1,5,2) =>1,3

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print("Hi")

Hi
Hi
Hi
Hi
Hi

In [3]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [4]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [5]:
n = int(input("Enter n="))
for i in range(1,11):
    print(n*i)

Enter n=5
5
10
15
20
25
30
35
40
45
50

In [6]:
n = int(input("Enter n="))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n=4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [7]:
s=0
n = int(input("Enter n="))
for i in range(n):
    x = int(input("Enter x="))
    s = s+x
    print(s)

Enter n=3
Enter x=23
23
Enter x=33
56
Enter x=33
89

In [8]:
s=0
n = int(input("Enter n="))
for i in range(n):
    x = int(input("Enter x="))
    s = s+x
print(s)

Enter n=2
Enter x=11
Enter x=11
22

In [1]:
s=str() 
n = int(input("Enter n="))
for i in range(n):
    x = input("Enter x=")
    s = s+x+"\n"
    print(s)

Enter n=2
Enter x=22
22

Enter x=33
22
33

In [1]:
s=str() 
n = int(input("Enter n="))
for i in range(n):
    name= input("Enter name=")
    phone= input("Enter phone=")
    s = s+name+" "+phone+"\n"
    print(s)

Enter n=3
Enter name=poo
Enter phone=5566
poo 5566

Enter name=rrr
Enter phone=4433
poo 5566
rrr 4433

Enter name=ww
Enter phone=33444
poo 5566
rrr 4433
ww 33444

In [1]:
#factorial
fac=1
n = int(input("Enter n="))
for i in range(1,n+1):
    fac = fac*i
    print(fac)

Enter n=4
1
2
6
24

In [3]:
a = "Pratigya"
for i in a:
    print(i)

P
r
a
t
i
g
y
a

In [4]:
a = "Pratigya"
for i in a:
    print("Hi")

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [5]:
a = "Pratigya"
for i in a:
    print(i,"Hi")

P Hi
r Hi
a Hi
t Hi
i Hi
g Hi
y Hi
a Hi

In [7]:
a = "Hello I'm Pratigya"
for i in a:
    if i!=" ":
        print(i,end = "")

HelloI'mPratigya

In [10]:
a = "Pratigya"
a[4]

'i'

In [11]:
for i in range(len(a)):
    print(a[i])

P
r
a
t
i
g
y
a

In [12]:
len(a)

8