In [22]:
import mysql.connector           #importing database
database = mysql.connector.connect(
    host = " localhost",
    user = "root",
    password = "",
    database = "python"

)
db = database.cursor()

In [26]:


name =  input("Enter name= ")

math = int(input("Enter marks = ")) 
english = int(input("Enter marks = "))

chemistry = int(input("Enter marks = "))

physics = int(input("Enter marks = ")) 
nepali = int(input("Enter marks = "))

total = math+english+chemistry+physics+nepali

percentage= (total/500)*100

if percentage >=80:
    grade = "A"
elif percentage >= 60:
    grade = "B"
elif percentage >=45:
    grade = "C"
else:
    grade = "D"
sql = f"INSERT INTO student (name, math, english, chemistry, physics, nepali, total,percentage,grade) VALUES('{name}',{math},{english},{chemistry},{physics},{napali},{total},{percentage},'{grade}')"

db.execute(sql) 
database.commit()

Enter name= rita
Enter marks = 23
Enter marks = 34
Enter marks = 45
Enter marks = 56
Enter marks = 67

In [ ]:
#update
#UPDATE student SET name = 'Hari', sn = 10 WHERE sn = 2

In [ ]:
#delete
#DELETE FROM student WHERE sn = 2

In [ ]:
# sql = ?
# b.execute(sql)
# database.commit()

In [ ]:
UPDATE student SET name = '{name}',sn = {sn}, physics = {physics}, chemistry = {chemistry}