In [ ]:
# Set
# -No indexing
# -Unordered
# -No duplicate value
# -Mutable
# main use- to remove duplicate elements
#no set inside set

In [1]:
s = {1,2,3,4,5}
t = {'Apple','Ball','Cat','Dog'}
print(s)
print(t)

{1, 2, 3, 4, 5}
{'Ball', 'Apple', 'Cat', 'Dog'}

In [2]:
print(type(s))
print(type(t))

<class 'set'>
<class 'set'>

In [5]:
t = {'Apple','Ball','Cat','Dog'}
t[0]
#since set doesnot follow indexing

TypeError: 'set' object is not subscriptable

In [7]:
t = {'Apple','Ball','Cat','Dog','Ball'}
t
#no duplicate value

{'Apple', 'Ball', 'Cat', 'Dog'}

In [8]:
a = {1,2,3}
b = {4,5,6}
c = a+b
c
#no concatenation

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [9]:
a = {1,2,3}
print(a*2)
#no enlargement

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [13]:
a = set() #empty set
a.add(1)
a.add(2)
a.add(3)
a

{1, 2, 3}

In [12]:
a = {1,2,3}
b = {4,5,6}
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [14]:
#remove
s = {1,2,3,4,5,}
s.remove(1)
s

{2, 3, 4, 5}

In [15]:
a = [1,2,3,4,3,2,4,4,6,6,3,2,2]
set(a)

{1, 2, 3, 4, 6}

In [16]:
a = [1,2,3,4,3,2,4,4,6,6,3,2,2]
list(set(a))

[1, 2, 3, 4, 6]

In [18]:
#intersection
ms = {"Ram",'Shyam','Hari','Sita','Gita'}
apple = {'Sheru',"Dongi",'Ram',"Shyam"}

ms.intersection(apple)

{'Ram', 'Shyam'}

In [19]:
#union
ms = {"Ram",'Shyam','Hari','Sita','Gita'}
apple = {'Sheru',"Dongi",'Ram',"Shyam"}

ms.union(apple)

{'Dongi', 'Gita', 'Hari', 'Ram', 'Sheru', 'Shyam', 'Sita'}

In [20]:
ms.difference(apple)

{'Gita', 'Hari', 'Sita'}

In [23]:
U = {'Dongi', 'Gita', 'Hari', 'Ram', 'Sheru', 'Shyam', 'Sita','Nitch','Mike','Nabin'}
ms = {"Ram",'Shyam','Hari','Sita','Gita'}
apple = {'Sheru',"Dongi",'Ram',"Shyam"}
un = ms.union(apple)

unemp = U.difference(un)
unemp

{'Mike', 'Nabin', 'Nitch'}

In [24]:
# datatypes inside set
a = {"Apple","Ball"}
a

{'Apple', 'Ball'}

In [26]:
#tuple inside set
a = {("Apple","Ball")}
a

{('Apple', 'Ball')}

In [27]:
# no list inside tuple
a = {["Apple","Ball"]}
a

TypeError: unhashable type: 'list'

In [29]:
# no set inside set
a = {{"Apple","Ball"}}
a

TypeError: unhashable type: 'set'

In [30]:
a = ("Apple","Ball")
print(type(a))

<class 'tuple'>