In [ ]:
# tuple
# -Indexed
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [ ]:
a = tuple()

In [1]:
a = (1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [2]:
a = (1,2,3,4,5)
print(a[0])

1

In [3]:
a = (1,2,3,4)
b = (5,6,7,8)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# No append(), extend(),insert()
# No del, remove(), pop()
# No sort()

In [4]:
a = (1,2,3,4,5,6,7)
a = list(a)
del a[2]
a

[1, 2, 4, 5, 6, 7]

In [6]:
a = tuple(a)
a

(1, 2, 4, 5, 6, 7)

In [7]:
a = ()
b = ("Apple",)
c = ("Ball",)
a = a+b+c
a

('Apple', 'Ball')

In [9]:
x = ()
n = int(input("Enter n = "))
for i in range(n):
    a = int(input("Enter a = "))
    x = x+(a,)
print(x)

Enter n = 4
Enter a = 1
Enter a = 3
Enter a = 4
Enter a = 6
(1, 3, 4, 6)

In [ ]:
# max() min() sum()
# for loop

In [10]:
a = (1,2,3,4,5,6,7)
for i in a:
    print(i)

1
2
3
4
5
6
7

In [11]:
a = ('Apple','Ball','Cat')
if "Cat" in a:
    print("yes")

yes

In [ ]:
# list--> string = No

In [12]:
a = "Apple"
list(a)

['A', 'p', 'p', 'l', 'e']

In [13]:
a = "Apple"
tuple(a)

('A', 'p', 'p', 'l', 'e')

In [ ]:
# tuple inside tuple
a = ((1,2,3),
    (4,5,6),
    (7,8,9))

In [14]:
info = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("enter name: ")
    age = int(input("Enter age: "))
    add = input("enter address: ")
    data = (name,age,add)
    info = info+(data,)
print(info)

Enter n = 2
enter name: Ram
Enter age: 22
enter address: Dang
enter name: Sita
Enter age: 43
enter address: Palpa
(('Ram', 22, 'Dang'), ('Sita', 43, 'Palpa'))

In [15]:
a = (('Ram', 22, 'Dang'), ('Sita', 43, 'Palpa'))
b = list(a)
b

[('Ram', 22, 'Dang'), ('Sita', 43, 'Palpa')]

In [16]:
#append()
a = [('Ram', 22, 'Dang'), ('Sita', 43, 'Palpa')]
a.append(("Hari",54,"Kathmandu"))
a

[('Ram', 22, 'Dang'), ('Sita', 43, 'Palpa'), ('Hari', 54, 'Kathmandu')]

In [17]:
a = [('Ram', 22, 'Dang'), ('Sita', 43, 'Palpa')]
a[0].append("Shyaaam")

AttributeError: 'tuple' object has no attribute 'append'

In [18]:
a = [('Ram', 22, 'Dang'), ('Sita', 43, 'Palpa')]
del a[0]
a

[('Sita', 43, 'Palpa')]

In [19]:
a = [('Ram', 22, 'Dang'), ('Sita', 43, 'Palpa')]
del a[0][1]
a
# since a[0][1] is element of tuple

TypeError: 'tuple' object doesn't support item deletion

In [20]:
# list inside tuple
a = (['Ram', 22, 'Dang'], ['Sita', 43, 'Palpa'])
a[0]

['Ram', 22, 'Dang']

In [21]:
a = (['Ram', 22, 'Dang'], ['Sita', 43, 'Palpa'])
a[0].append(9876454563)
a[1].append(9876543212)
a

(['Ram', 22, 'Dang', 9876454563], ['Sita', 43, 'Palpa', 9876543212])

In [22]:
# clear()
a = (['Ram', 22, 'Dang'], ['Sita', 43, 'Palpa'])
a[0].clear()
a

([], ['Sita', 43, 'Palpa'])

In [23]:
a = (['Ram', 22, 'Dang'], ['Sita', 43, 'Palpa'])
del a[0][0]
a

([22, 'Dang'], ['Sita', 43, 'Palpa'])

In [ ]:
00